@charset "utf-8";
@import url("font/font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html.active {
  font-size: 16px;
  overflow: hidden !important;
  /* !important 넣으면 뭐든 다 잘 나옴 */
}
body {
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 400;
  color: #222;
  word-break: keep-all;
}
.inner {
  display: block;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}
/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/* 상단 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  z-index: 9999;
  transition: all 0.5s;
}
.logo {
  position: relative;
  width: 125px;
  height: 30px;
  background: url("../images/logo_white.png") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}
.header.active {
  height: 80px;
  background-color: rgba(255, 255, 255, 1) !important;
}
.header.active .logo {
  background: url("../images/logo.png") no-repeat center;
  background-size: cover;
}
.header.active .gnb a {
  color: #222 !important;
  line-height: 80px !important;
}
.header.active .gnb a span::after {
  background: #222;
}
.nav {
  display: block;
}
.gnb {
  display: flex;
  margin-right: 34px;
  transition: all 0.5s;
}
.gnb > li > a {
  display: block;
  padding: 0 34px;
  line-height: 100px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  transition: line-height 0.5s, padding 0.5s;
}
.gnb > li > a > span {
  position: relative;
}
.gnb > li > a > span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  opacity: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s, opacity 0.5s;
}
.gnb > li > a:hover > span:after {
  opacity: 1;
  width: 100%;
}
/* 모바일 메뉴 */
.mbt {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 22px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.mbt span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: background 0.3s;
}
.mbt.active span {
  background-color: #222 !important;
}
.mbt span:nth-child(1) {
  top: 0;
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.mbt.ani span:nth-child(1) {
  transform: rotate(45deg) !important;
}
.mbt span:nth-child(2) {
  top: 50%;
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.mbt.ani span:nth-child(2) {
  opacity: 0 !important;
}
.mbt span:nth-child(3) {
  top: 100%;
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.mbt.ani span:nth-child(3) {
  transform: rotate(-45deg) !important;
}
/* 모바일 gnb */
.nav-mb {
  position: absolute;
  top: 70px;
  left: 100%;
  display: block;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #fff;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nav-mb.active {
  left: 0% !important;
  opacity: 1 !important;
}
.nav-mb-gnb li {
  line-height: 67px;
}
.nav-mb-gnb li a {
  display: block;
  padding: 0 40px;
  font-size: 24px;
  color: #222;
  border-bottom: 1px solid #e5e5e5;
}
@media screen and (max-width: 1280px) {
  .header {
    padding: 0 30px;
  }
  .logo {
    width: 150px;
  }
  .gnb {
    margin-right: -26px;
  }
  .gnb li > a {
    padding: 0 26px;
  }
}
@media screen and (max-width: 1024px) {
  .logo {
    width: 120px;
  }
  .header {
    height: 70px;
  }
  .gnb {
    display: none;
  }
  .mbt {
    display: block;
  }
}
/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.visual-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual-bg-1 {
  background: url("../images/main_visual_1.jpg") no-repeat center;
  background-size: cover;
}
.visual-bg-2 {
  background: url("../images/main_visual_2.jpg") no-repeat center;
  background-size: cover;
}
.visual-bg-3 {
  background: url("../images/main_visual_3.jpg") no-repeat center;
  background-size: cover;
}
.visual-bg-4 {
  background: url("../images/main_visual_4.jpg") no-repeat center;
  background-size: cover;
}
.visual-box .inner h2 {
  line-height: 1.3;
  font-size: 74px;
  color: #fff;
}
/* 일반 슬라이드 */
.sw-visual .swiper-slide .visual-box h2 {
  opacity: 0;
  transform: translateX(-10%);
}
.sw-visual .swiper-slide .visual-box p {
  opacity: 0;
  transform: translateY(30px);
}
/* 포커스된 슬라이드 */
.sw-visual .swiper-slide-active .visual-box h2 {
  transition: opacity 1s, transform 1s;
  transform: translateX(0);
  opacity: 1;
}
.sw-visual .swiper-slide-active .visual-box p {
  transition: opacity 1s 0.5s, transform 1s 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.visual-box .inner p {
  opacity: 0.9;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.visual-box .inner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 65px;
  opacity: 1;
  visibility: visible;
  padding: 0 45px 0 50px;
  margin-top: 50px;
  font-size: 17px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
/* sw-visual 콘트롤 */
.sw-visual-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% - 230px);
  display: flex;
  width: 100%;
  max-width: 1420px;
  z-index: 9;
}
.sw-visual-control button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
}
.sw-visual-control button i {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.sw-visual-control button:hover i {
  opacity: 1;
}
.sw-visual-pg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% + 230px);
  width: 100%;
  max-width: 1420px;
  z-index: 9;
}
.sw-visual-pg-list {
  position: relative;
  display: flex;
}
.sw-visual-pg-list > li {
  position: relative;
  width: 85px;
  padding: 10px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.sw-visual-pg-list > li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0.4;
}
.sw-visual-pg-list > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
}
.sw-visual-pg-list > li.active::after {
  transition: width 1.5s;
  width: 100% !important;
}
/* 서비스 */
.service {
  position: relative;
  display: block;
  height: 100vh;
  min-height: 800px;
  padding: 180px 0 210px;
}
.service .inner {
  height: 100%;
}
.service-title {
  font-family: "Godo", "notokr";
  margin-bottom: 30px;
  font-size: 38px;
  text-align: center;
}
.service-title span {
  color: #3a68b2;
}
.service-wrap {
  width: calc(100% - 20px * 2);

  margin: 0 auto;
  max-width: 1420px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}
.service-box-1 {
  position: relative;
  display: block;
  /* 700 / 1420 * 100 = 49.25957vw */
  height: 49.25957vw;
  max-height: 680px;
  overflow: hidden;
  grid-row: 1/3;
}
.service-box-1:hover .service-bg {
  transform: rotate(2deg) scale(1.1);
  opacity: 0.9;
}
.service-bg {
  position: absolute;
  left: 0;
  top: 0;
}
.service-bg-1 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/main_service_img1.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}
.service-box-2 {
  position: relative;
  overflow: hidden;
}
.service-box-2:hover .service-bg {
  transform: rotate(2deg) scale(1.1);
  opacity: 0.9;
}
.service-bg-2 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/main_service_img2.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}
.service-box-3 {
  position: relative;
  overflow: hidden;
}
.service-box-3:hover .service-bg {
  transform: rotate(2deg) scale(1.1);
  opacity: 0.9;
}
.service-bg-3 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/main_service_img3.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}
.service-wrap a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  padding: 30px;
}
.service-box-wrap {
  position: relative;
  color: #fff;
  justify-self: start;
  align-self: end;
  z-index: 999;
}
.service-box-title {
  position: relative;
  font-size: 26px;
  margin-bottom: 3px;
}
.service-box-desc {
  font-size: 17px;
  font-weight: 300;
  opacity: 0.8;
}
.no-br {
  display: none;
}
.service-box-bt {
  display: block;
  position: relative;
  width: 100%;
  max-width: 140px;
  height: 40px;
  padding: 0 15px 0 20px;
  margin-top: 20px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  background: none;
  text-align: left;
  cursor: pointer;
}
.service-box-bt i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1280px) {
  .service {
    height: auto;
    padding: 120px 0 80px;
  }
}
@media screen and (max-width: 1024px) {
  .service-title {
    font-size: 30px;
    white-space: nowrap;
  }
  .service-wrap {
    grid-template-columns: 1fr;
  }
  .service-box-1 {
    justify-self: center;
    width: 100%;
    max-width: 640px;
    height: 640px;
  }
  .service-box-2,
  .service-box-3 {
    justify-self: center;
    width: 100%;
    max-width: 640px;
    height: 312px;
  }
}
@media screen and (max-width: 640px) {
  .service {
    padding: 70px 0 80px;
  }
  .service-box-1 {
    height: 100vw;
    max-width: 640px;
  }
  .service-box-2,
  .service-box-3 {
    height: 45vw;
    max-height: 312px;
  }
  .service-wrap a {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 480px) {
  .no-br {
    display: block;
  }
}
/* 소개 */
.about {
  position: relative;
  display: block;
  height: 75vh;
  padding: 130px 0 0 0;
}
.about .inner {
  height: 100%;
  width: calc(100% - 20px * 2);
  margin: 0 auto;
  max-width: 1420px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-title {
  font-size: 44px;
  line-height: 1.35;
}
.about-title span {
  color: #3a68b2;
}
.about-right p {
  font-size: 16px;
  color: #222;
  margin-bottom: 25px;
  line-height: 1.5;
}
.about-right .about-txt-main {
  margin-bottom: 45px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.35;
  margin-bottom: 45px;
}
.about-txt-main span {
  color: #3a68b2;
  font-weight: 700;
}
.about-link {
  position: relative;
  display: block;
  width: 100%;
  max-width: 140px;
  height: 50px;
  padding: 0 10px;
  margin-top: 90px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #222;
  line-height: 50px;
}
.about-link i {
  position: absolute;
  top: 16px;
  left: 110px;
  transition: transform 0.3s;
}
.about-link:hover i {
  transform: translate(7px);
}

@media screen and (max-width: 1024px) {
  .about {
    height: auto;
    margin-top: -70px;
    margin-bottom: 25px;
  }
  .about .inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-title {
    margin-bottom: 40px;
    font-size: 34px;
  }
  .about-txt-main {
    font-size: 24px !important;
  }
  .about-link {
    margin: 0 auto;
    margin-bottom: 80px;
  }
}
/* 비지니스 */
.business {
  position: relative;
  display: block;
}
.sw-business {
  height: 400px;
}
.sw-business a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding: 85px 60px;
  transition: background-color 0.3s;
}
.business a h2 {
  margin-bottom: 14px;
  font-size: 28px;
}
.business a p {
  margin-bottom: 42px;
  font-size: 17px;
  opacity: 0.8;
  line-height: 1.4;
}
.business a span {
  display: block;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #222;
  letter-spacing: -1px;
  transition: border 0.3s, color 0.3s;
}
.business a:hover span {
  border-bottom: 2px solid #fff;
}
.business a h2,
.business a p,
.business a span {
  position: relative;
  transition: color 0.3s;
  z-index: 1;
}
.business a:hover h2,
.business a:hover p,
.business a:hover span {
  color: #fff;
}
.business a img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 317px;
  width: 46%;
}
.business a:hover.business-bg-1 {
  background-color: #3891b2;
}
.business a:hover.business-bg-2 {
  background-color: #db574f;
}
.business a:hover.business-bg-3 {
  background-color: #f0b23a;
}
.business-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}
@media screen and (max-width: 1600px) {
  .sw-business a {
    padding: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .business a img {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .sw-business a {
    padding: 60px;
  }
  .business a h2 {
    font-size: 24px;
  }
  .business a p {
    font-size: 16px;
  }
  .business a img {
    width: 60%;
  }
  .business-modal {
    display: flex;
  }
}
@media screen and (max-width: 640px) {
  .sw-business a {
    padding: 25px 20px;
  }
  .sw-business a p {
    font-size: 15px;
  }
  .sw-business a span {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .business a img {
    width: 70%;
  }
}
/* footer */
.footer {
  position: relative;
  display: block;
  background-color: #222;
  padding: 60px 0;
}
.footer .inner {
  width: calc(100% - 20px * 2);
  margin: 0 auto;
  max-width: 1420px;
}
.footer-list {
  text-align: center;
  font-size: 15px;
  color: #666;
  line-height: 1.6;
}
.footer-list li {
  padding: 5px 0;
}
.footer-list li a {
  color: #666;
}
.footer-list li a:hover {
  color: #4e4c4c;
  text-decoration: underline;
}
.footer-list span {
  display: inline-block;
  white-space: normal;
}
.footer-list p {
  padding-top: 20px;
}
.footer-bar {
  position: relative;
  display: inline-block;
  padding: 0 18px;
}
.footer-bar::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 10px;
  background-color: #666;
}
@media screen and (max-width: 640px) {
  .footer-list span {
    display: block;
  }
  .footer-bar {
    display: none;
  }
}
